*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#addEvent{
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: lightblue;
  border-radius: 5px;
  float: right;
  font-size: 16px;
  text-decoration: none;
  
}

#addEvent:hover{
  box-shadow: 5px 5px 5px;
  text-decoration: none;

}
#addEvent,a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

table{
  margin-top: 20px;
  margin-left:50px;
  width: 90%;
  overflow: scroll;
}

table, th, td {
  padding: 10px;
  border: none;
  border-collapse: collapse;
}

tr:nth-child(odd){
  background-color: #dddddd;
}

tr:hover{
  background-color: lightblue;
}

#header_row:hover{
  background-color: #dddddd;
}

#header_row{
  font-size: 20px;
}

 #div_pageInfo{

   padding-left: 20px;
  height: max-content;
}

.flex-container {

  align-items: center; /* Use another value to see the result */
  width: 100%;
  height: 200px;
}
.flex-container > div {
  width: 25%;
  height: 60px;
  margin: 5px;
  border-radius: 3px;
}


div#header {
  position: relative;
}

/* div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
  background: #e0e0e0;
  color: #292929;
}

div#header a {
  position: absolute;
  right: 0;
  top: 23px;
  padding: 10px;
  color: #006;
} */

div#navigation {
  background: #bed0e2;
  border-radius: 5px;
}

div#navigation li {
  list-style: none;
}

div#extra {
  margin: 5px;
  margin-left: 0px;
  padding: 25px;
  padding-left: 5px;
  width: 40%;
  float: right;
 
}

div#footer {
  background: #ebebe0;
  margin-top:100px;
  color: #fff;
  padding: 20px;
  margin-bottom:0px;

}

div#container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

div#content {
  float: left;
  width: 50%;
  margin-top:20px;
}

div#navigation {
  float: right;
  width: 40%;
}



div#footer {
  clear: both;
  width: 100%;
}

#label_enter_amount{
  margin: 10px;
  margin-left: 0px;
  float: left;
  width: 40%;
}

#label_enter_amount{
  float: left;
  margin-right: 10px;
  width: 50%;
}
#input_amount{
 margin-top: 15px;
  width: 45%;
  float: right;
}


.switch{
  margin: 10px;
  float: right;
  width: 40%;
}

#label_autopayment{
  margin: 10px;
  float: left;
}

#autopayment_desc{
  margin: 10px;
  float: left;
}

#autopayment_init_hours{
  width: 90%;
  margin-left: 50px;
  margin-right: 0px;

}

#lastdesc_autopay{
  float: right;
  width: 50%;
  margin-left: 0px;
}

#div_autopayment_init_hours{
  width: 20%;
  float: left;
  margin-right: 0px;
}

#autopayment_init_count{
  float: right;
  margin: 5px;
  width: 30%;
  margin-right: 120px;
}

#last_last_desc_autopay{
  float: left;
  width: 40%;
  margin-left: 10px;
}

#save_autopay_configs{
  margin: 10px;
  float: right;
}

#autopay_switch{
  float: right;
}

p{
  font-size: 18px;
}

#ezcash_img{
  align-content: center;
  margin: 10px;
  border-radius: 5px;
}















/*css for on/off switch*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

