#header{
  margin-left: 20%;
  margin: 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px;
  background-color: #ccccb3;
  height: 50px;
}

#header{
  padding-bottom: 55px;
  margin-bottom: 10px;
}

#header nav{
  display: inline-block;
}

#title{
  float: left;
  padding-left:  0px;
  padding-right:  10px;
  padding-top: 20px;
  
} 

#searchIcon{
  margin: 5px;
  float: center;
  opacity: 0.4;
  margin-bottom: 5px;
}

#search{
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0.4;
  width: 80%;
  margin-top: 10px;
}  

#search:hover{
  opacity: 1.0;
}
#logOut{
  float: right;
  font-size: 16px;
  margin: 3px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  opacity: 0.5;
}

#logOut:hover{
  opacity: 1.0;
  background-color: #ff5c33;
}


#menubar{
  display: block;
  background-color: #282639;
  color: gray;
  position: fixed;
  width: 20%;
  height: 100%;
}

#menubar ul{
  list-style: none;
}

#menubar a{
  color: white;
  text-decoration: none;
}

#menubar ul li a{
  line-height:3em;
  padding: 5px;
  display: block;
  font-weight: bold;
  padding: 10px 40px;
}

#menubar ul li a:hover{
  color: #92CF48;
  background-color: #1E1D2B;
  border-left: 5px solid #92CF48;
}

#dialog{
  float: right;
  margin-top: 50px;
  margin-right:100px;
}


.menuIcons{
  margin: 10px;
  color: #92CF48;
}

#actions{
  overflow: auto;
  float: right;
  padding-bottom: 5px;
  width: 80%;
  height: 100%;
  right: 0;
  background-color: #ebebe0;
  margin-bottom: 0px;
  position: fixed;
}

